.hero-img {
    width:100%;
}
.farm-item-img {
    max-width: 100%;
    height: auto;
}
.bg-kid-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.096)), url("https://www.deere.com/assets/images/common/home-page/july-homepage-hero-1366x347.jpg");
    height:40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-grey {
    background: rgb(187, 187, 187);
}
a {
    text-decoration: none;
    color:white;
}
a:hover {
    color: yellow;
}
.content-img { 
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-text>h3 {
    color:white;
}
.image-text>h5 {
    color:yellow;
}
.text-align-bottom{
    color:black;
    position:absolute;
    top:775px;
}
.image-text{
    position: absolute;
    bottom: -129px;
}
.image-box{
    position:absolute;
    background-color: rgba(128, 128, 128, 0.411);
    color: white;
}
.btn-outline{
    border: 2px solid yellow;
    background-color: transparent;
    color: yellow;

}